body{
    /* font-size: 18px; */
    font-family: 'Roboto', sans-serif;

}
.navbar{
    background-color: #00acee;
}
.nav-item, .navbar-brand{
    color:#fff !important;
    font-weight: bold;
}
#konten1{
    background-color: #00acee;
    height: 620px;
}
.card-group{
    border:none;
    /* margin-right: 10px; */
}
#konten2{
    margin-top: -30px;
    background-color: #fff;
    /* height: 600px; */
    /* right: -20px; */
}
#konten3{
    background-color: #00acee;
    height: 100px;
}
#card2 .card img{
    width:60px;
    border:none;
}
#card2{
    line-height:2rem;   
}
#card2 .card{
    border:none;
    transition: 1s;
}
/* #card2 .card:hover{
    -web;
} */

#konten4{
    background-color: #00acee;
    color: #fff;
}
#konten4 .btn{
    color: #fff;
    border-color: #fff;
}
