body {
    height: 1500;
}

#btn1 {
    color: #00acee;
    border-color: #00acee;
}

.responsive-map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.responsive-map iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#jumbo1 {
    background-color: transparent;
}

.navbar{
    background-color: #00acee;
}
.nav-item, .navbar-brand{
    color:#fff !important;
    font-weight: bold;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


#footer{
    /* margin-top: -35px; */
    background-color: #00acee;
    margin-bottom: -30px;
}
#footer .text-muted{
    color:#fff !important;
}
#footer a{
    text-decoration: none;
}#footer strong{
    color:#000;
}
