body{
    /* font-size: 18px; */
    font-family: 'Roboto', sans-serif;

}
.navbar{
    background-color: #00acee;
}
.nav-item, .navbar-brand{
    color:#fff !important;
    font-weight: bold;
}
#konten1{
    background-color: #00acee;
    height: 620px;
}
.card-group{
    border:none;
    /* margin-right: 10px; */
}
#konten2{
    margin-top: -30px;
    background-color: #fff;
    /* height: 600px; */
    /* right: -20px; */
}
#konten3{
    background-color: #00acee;
    height: -20px;
}


